body{
  background-color: black;
  height: 1000px;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width:800px){
  #first{
    margin-left: auto;
  }
  .top{
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  .nav{
    width: 100%;
    position: fixed;
    background-color: #000000;
    height: 50px;
    z-index: 2;
  }
  .navbar{
    color: red;
  }
  .options{
    width: 50px;
    height: 40px;
  }
  .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50);
    height: 70px;
    z-index: 2;
  }
  .cover{
    width: 100%;
    position: absolute;
    top:50px;
    height: 100vh;
    background-color: black;
  }
  .coverpic{
    left: 0;
  }
  .coverDetails{
    position: absolute;
    top: 10%;
    left: 50%;
    right: 5%;
  }
  .text{
    color: grey;
  }
  /* .ii{
    height: 60px;
  } */
  .watch{
    width: 80%;
    outline: none;
    background: none;
    color: red;
    margin-top: 40vh;
  }
  .title{
    font-size: 40px;
    color: grey;
  }
  .badge{
    height: 25px;
    font-size: 15px;
  }
  .recents{
    position: absolute;
    top:110vh;
    width: 100%;
    }
    .row{
      width: 100%;
    }
  .recentImage{
    height: 200px;
    width: 200px;
    border-radius: 200px 200px 200px 200px;
    margin: auto;
  }
  .listings{
    position: absolute;
    top:160vh;
    border-radius: 100px 100px 0px 0px;
    width: 100%;
    background-color:rgba(0, 0, 34, 0.3);
    height: 500px;
  }
  .col-md-3{
    margin: auto;
    color: red;
  }
  .hr{
    display: block;
    height: 2px;
    border: 0;
    margin: 1em;
    margin-top: 0px;
    border-top: 1px solid red;
  }
  .stuffed1{
    height: 10px;
    width: 200px;
    background-color: black;
    margin-top: 10px;
  }
  .stuffed{
    height: 10px;
    width: 200px;
    background-color: red;
    margin-top: 10px;
  }
  .listingImage{
    height: 300px;
    margin-left: 8px ;
    margin-top: 5px;
  }
  .listingImage2{
    height: 300px;
    margin-left: 8px ;
    margin-top: 5px;
  }
  .tvseries{
    color: black;
  }
}

@media only screen and (max-width:800px){
  #first{
    margin-left: auto;
  }
  .top{
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  .nav{
    width: 100%;
    position: fixed;
    background-color: #000000;
    height: 30px;
    z-index: 2;
  }
  .navbar{
    color: red;
    font-size: 15px;
    display: none;
  }
  .options{
    width: 30px;
    height: 30px;
  }
  .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50);
    height: 35px;
    z-index: 2;
  }
  .cover{
    width: 100%;
    position: absolute;
    top:30px;
    height: 100vh;
    background-color: black;
  }
  .coverpic{
    width: 100%;
    align-self: center;
  }
  .coverDetails{
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .text{
    color: grey;
    font-size: 15px;
  }
  /* .ii{
    height: 60px;
  } */
  .watch{
    width: 80%;
    outline: none;
    background: none;
    color: red;
    font-size: 15px;
    height: 30px;
    margin-left: 10%;
    margin-top: 3vh;
  }
  .title{
    font-size: 30px;
    color: grey;
  }
  .badge{
    height: 20px;
    font-size: 15px;
  }
  .recents{
    position: absolute;
    top:110vh;
    width: 100%;
    }
    .row{
      width: 100%;
    }
  .recentImage{
    height: 100px;
    width: 100px;
    border-radius: 200px 200px 200px 200px;
    margin: auto;
  }
  .listings{
    position: absolute;
    top:140vh;
    border-radius: 100px 100px 0px 0px;
    width: 100%;
    background-color:rgba(0, 0, 34, 0.3);
    height: 500px;
  }
  .col-md-3{
    margin: auto;
    font-size: 15px;
    color: red;
  }
  .hr{
    display: block;
    height: 2px;
    border: 0;
    margin: 1em;
    margin-top: 0px;
    border-top: 1px solid red;
  }
  .stuffed1{
    height: 4px;
    width: 100px;
    background-color: black;
    margin-top: 10px;
  }
  .stuffed{
    height: 4px;
    width: 100px;
    background-color: red;
    margin-top: 10px;
  }
  .listingImage{
    height: 200px;
    margin-left: 8px ;
    margin-top: 5px;
  }
  .listingImage2{
    height: 200px;
    margin-left: 8px ;
    margin-top: 5px;
  }
  .tvseries{
    color: black;
  }
}
